In [1]:
empty_dict={}
print((empty_dict))

{}

In [2]:
empty_dict=dict()
print((empty_dict))

{}

#### KEY VALUE PAIRS

In [6]:
student={"Name":"Krittika","age":22,"grade":"A"}
print(student)

{'Name': 'Krittika', 'age': 22, 'grade': 'A'}

In [ ]:
##single key is always used
student={"Name":"Krittika","age":22,"Name":24}
print(student)

{'Name': 24, 'age': 22}

In [8]:
##accessing elements
student={"Name":"Krittika","age":22,"grade":"A"}
print(student)
print(student['grade'])
print(student['age'])

{'Name': 'Krittika', 'age': 22, 'grade': 'A'}
A
22

In [4]:
student={"Name":"Krittika","age":22,"grade":"A"}
print(student)
print(student.get('grade'))
print(student.get('age'))
print(student.get('last_name')) ##this is not present in the dict
print(student.get('last_name',"NOT AVAILABLE")) ## just providing a default value

{'Name': 'Krittika', 'age': 22, 'grade': 'A'}
A
22
None
NOT AVAILABLE

In [5]:
##modifying dictionary elements

print(student)

student["age"]=32 ##change and update the key and value
print(student)

student["address"]="India" ##adding a new key value pair
print(student)

{'Name': 'Krittika', 'age': 22, 'grade': 'A'}
{'Name': 'Krittika', 'age': 32, 'grade': 'A'}
{'Name': 'Krittika', 'age': 32, 'grade': 'A', 'address': 'India'}

In [6]:
del student['age'] ## delete a key value pair
print(student)

{'Name': 'Krittika', 'grade': 'A', 'address': 'India'}

#### DICTIONARY METHODS

In [7]:
keys=student.keys() ##to get all the keys
print(keys)

dict_keys(['Name', 'grade', 'address'])

In [8]:
values=student.values() ##to get all the values
print(values)

dict_values(['Krittika', 'A', 'India'])

In [9]:
items=student.items() ##to get all key value pairs
print(items)

dict_items([('Name', 'Krittika'), ('grade', 'A'), ('address', 'India')])

In [10]:
print(student)
student_copy=student
print(student)
print(student_copy)

{'Name': 'Krittika', 'grade': 'A', 'address': 'India'}
{'Name': 'Krittika', 'grade': 'A', 'address': 'India'}
{'Name': 'Krittika', 'grade': 'A', 'address': 'India'}

In [11]:
student["Name"]="kri"
print(student)
print(student_copy)

{'Name': 'kri', 'grade': 'A', 'address': 'India'}
{'Name': 'kri', 'grade': 'A', 'address': 'India'}

In [ ]:
student_copy1=student.copy() 
print(student_copy1)
print(student)

{'Name': 'kri', 'grade': 'A', 'address': 'India'}
{'Name': 'kri', 'grade': 'A', 'address': 'India'}

In [ ]:
student["Name"]="KRish3" ## shallow copy
print(student_copy1)
print(student)

{'Name': 'kri', 'grade': 'A', 'address': 'India'}
{'Name': 'KRish3', 'grade': 'A', 'address': 'India'}

In [14]:
##iterating over dictionaries

for keys in student.keys():
    print(keys)

Name
grade
address

In [17]:
for values in student.values():
    print(values)

KRish3
A
India

In [18]:
for keys,values in student.items():
    print(f"{keys}:{values}")

Name:KRish3
grade:A
address:India

#### Nested Dictionaries

In [19]:
students={
    "student1":{"name":"Krittika","age":22},
    "student2":{"name":"koninika","age":27}
}
print(students)

{'student1': {'name': 'Krittika', 'age': 22}, 'student2': {'name': 'koninika', 'age': 27}}

In [21]:
##accessing nested dictionary elements

print(students["student1"]["name"])

Krittika

In [22]:
print(students["student2"]["age"])

27

In [23]:
student.items()

dict_items([('Name', 'KRish3'), ('grade', 'A'), ('address', 'India')])

In [25]:
##iterating over nested dictionaries

for student_id,student_info in students.items():
    print(f"{student_id}:{student_info}")
    for keys,values in student_info.items():
        print(f"{keys}:{values}")

student1:{'name': 'Krittika', 'age': 22}
name:Krittika
age:22
student2:{'name': 'koninika', 'age': 27}
name:koninika
age:27

#### Dictionary Comprehension

In [27]:
squares={x:x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [29]:
##conditional

squares={x:x**2 for x in range(20) if x%2==0}
print(squares)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64, 10: 100, 12: 144, 14: 196, 16: 256, 18: 324}

#### Merging two dictionaries

In [32]:
dict1={"A":1,"B":2}
dict2={"B":3,"C":4}
merged_dict={**dict1,**dict2} ##key word argument

print(merged_dict)

{'A': 1, 'B': 3, 'C': 4}

In [30]:
##use dictionary to count the frequency of no of elements in a list:

numbers=[1,2,2,3,3,3,4,5,5,6,6,6,6,6,7,8,8]
frequency={}

for number in numbers:
    if number in frequency:
        frequency[number]+=1
    else:
        frequency[number]=1
print(frequency)

{1: 1, 2: 2, 3: 3, 4: 1, 5: 2, 6: 5, 7: 1, 8: 2}