#### BASIC STRUCTURE

In [ ]:
def function_name(parameters):
  """docstring"""
  #function body
  return expression

In [2]:
def even_or_odd(num):
    if num%2==0:
        print("The number is even")
    else:
        print("The number is odd")

In [4]:
##call this function

even_or_odd(24)
even_or_odd(55)

The number is even
The number is odd

In [6]:
##multiple parameters:

def add(a,b):
    return a+b
result=add(2,4)
print(result)

6

In [10]:
##default parameters:

def greet(name):
    print(f"Hello {name}")

greet("Krittika")

Hello Krittika

In [11]:

def greet(name):
    print(f"Hello {name}")

greet()

TypeError: greet() missing 1 required positional argument: 'name'

In [12]:

def greet(name="Guest"):
    print(f"Hello {name}")

greet()

Hello Guest

In [ ]:

def greet(name="Guest"):
    print(f"Hello {name}")

greet("Krittika") ##Guest will be replaced by Krittika

Hello Krittika

#### VARIABLE LENGTH ARGUMENTS:

In [14]:
## POSITIONAL ARGUMENTS:

def print_numbers(*args):
    for number in args:
        print(number)
print_numbers(1,2,3,4,5,6,"Krittika")

1
2
3
4
5
6
Krittika

In [15]:
## KEY WORD ARGUMENTS:

def print_details(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")
print_details(name="Krittika",age="22",country="India")

name:Krittika
age:22
country:India

In [17]:
## COMBINING BOTH POSITIONAL AND KEYWORD ARGUMENTS:

def print_details(*args,**kwargs):
    for val in args:
        print(f"positional argument:{val}") 

    for key,value in kwargs.items():
        print(f"{key}:{value}")

print_details(1,2,3,5,6,"Krittika",name="Krittika",age="22",country="India")

positional argument:1
positional argument:2
positional argument:3
positional argument:5
positional argument:6
positional argument:Krittika
name:Krittika
age:22
country:India

In [18]:
## return multiple parameters

def multiply(a,b):
    return a*b,a
multiply(2,3)

(6, 2)