In [3]:
my_empty_set=set()
print(type(my_empty_set))

<class 'set'>

In [4]:
my_set={1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [ ]:
##typecasting

my_set=set([1,2,3,4,5,6])  ##list to set
print(my_set)

{1, 2, 3, 4, 5, 6}

In [8]:
my_set={1,2,3,3,4,5,6,9,6,8,1,2,7,10}
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [9]:
my_set={1,2,3,4,5}
my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 7}

In [10]:
my_set.remove(3)
print(my_set)

{1, 2, 4, 5, 7}

In [11]:
my_set.remove(8)
print(my_set)

KeyError: 8

In [12]:
my_set.discard(9)
print(my_set)

{1, 2, 4, 5, 7}

In [13]:
removed_element=my_set.pop()
print(removed_element)
print(my_set)

1
{2, 4, 5, 7}

In [14]:
my_set.clear()
print(my_set)

set()

#### SET MEMBERSHIP TEST

In [16]:
my_set={1,2,3,4,5,6}
print(3 in my_set)
print(1 in  my_set)
print(8 in my_set)
print(10 in my_set)

True
True
False
False

#### MATHEMATICAL OPERATIONS

In [21]:
##Union

set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

union_set=set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [18]:
##intersection

intersection_set=set1.intersection(set2)
print(intersection_set)

{4, 5, 6}

In [19]:
##Intersection Update

set1.intersection_update(set2)
print(set1)

{4, 5, 6}

In [22]:
print(set1.difference(set2))

{1, 2, 3}

In [23]:
print(set2.difference(set1))

{8, 9, 7}

In [25]:
set1.symmetric_difference(set2)

{1, 2, 3, 7, 8, 9}

#### SETS METHODS:

In [28]:
##issubset

set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

print(set1.issubset(set2))

print(set1.issuperset(set2))

False
False

In [29]:

set1={1,2,3,4,5}
set2={3,4,5}

print(set1.issubset(set2))

print(set1.issuperset(set2))

False
True

In [30]:
### Counting Unique words in text

text="In this tutorial we are discussing about sets"
words=text.split()

## convert list of words to set to get unique words

unique_words=set(words)
print(unique_words)
print(len(unique_words))

{'we', 'are', 'discussing', 'about', 'In', 'sets', 'tutorial', 'this'}
8