#### Creating a  tuple

In [1]:
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [ ]:
numbers=tuple([1,2,3,4])   ##list to tuple
print(numbers)

(1, 2, 3, 4)

In [ ]:
lst=list((1,2,3,4))     ##tuple to list
print(lst)

[1, 2, 3, 4]

In [ ]:
numbers=(1,2,3,4,5,6,7,8,9,10)   ##accessing tuple elements
print(type(numbers))
print(numbers[0])
print(numbers[1])
print(numbers[2])
print(numbers[3])
print(numbers [-1])

<class 'tuple'>
1
2
3
4
10

In [ ]:
 numbers[0:4]    ##slicing operation
 numbers[::]
 numbers[::-1]

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [15]:
mixed_tuple=(1,"Hello World",3.14,True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

#### Tuple operations

In [17]:
concatenation_tuple=numbers+mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 'Hello World', 3.14, True)

In [18]:
mixed_tuple *3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [21]:
##Immutable nature of tuple
numbers[1]
numbers[1]="krittika"
print(numbers)

TypeError: 'tuple' object does not support item assignment

#### Tuple methods:

In [23]:
print(numbers.count(1))

1

In [24]:
print(numbers.index(3))

2

#### PACKING AND UNPACKING OF TUPLE

In [25]:
##packing

packed_tuple=(1,"Hello World",3.14)
print(packed_tuple)

(1, 'Hello World', 3.14)

In [27]:
##unpacking

a,b,c=packed_tuple
print(a)
print(b)
print(c)

1
Hello World
3.14

In [28]:
## unpacking with *

numbers=(1,2,3,4,5,6)
first,*middle,last=numbers

print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [1]:
## Nested tuple

nested_tuple=((1,2,3),("a","b","c"),(1,"hello",3.14,"c"))
print(nested_tuple[0])

(1, 2, 3)

In [2]:
nested_tuple=((1,2,3),("a","b","c"),(1,"hello",3.14,"c"))
print(nested_tuple[2][0:3])

(1, 'hello', 3.14)

In [3]:
nested_tuple=((1,2,3),("a","b","c"),(True,False))
print(nested_tuple[1] [2])

c

In [5]:
##iterating over nested tuple:

for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False